table {
    border-width:1px; 
    border-style:solid; 
    border-color:black;
    width:50%;
    }

h1 {
    color: #0b132b;
}

h3 {
    color: #1c2541;
}

th {
    background-color: #3a506b;
}

td {
    background-color: #9cafb7;
}